<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>GraPAT</title>
	<link rel="icon" href="data:;base64,iVBORw0KGgo=">
	<link rel="stylesheet" href="/static/css/article.css">
	<link rel="stylesheet" href="/static/css/welcome.css">
</head>
<body>
	<h1>Welcome to GraPAT: Graph-based Potsdam Annotation Tool</h1>
	<div id="main">
		<h2>
			Under construction!
		</h2>
		
		If you have a testing account, you can got to <a href="/grapat">the GraPAT page</a> and log in.
	</div>
</body>
</html>
