@CHARSET "UTF-8";

.textfield {
	margin-top: 1em;
	margin-bottom: 1em;
}

.wbutton {
	margin: 2em;
}

#main {
	margin-right: auto;
	margin-left: auto;
	width: 80%;
    border: 1px solid #346789;
    border-radius: 0.5em;
    text-align: center;
}